@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Nunito&family=Overpass+Mono&family=Raleway&display=swap');

.heading-font {
    font-family: 'Raleway', 'Nunito', sans-serif !important;
}

.body-font {
    font-family: 'Nunito', sans-serif !important;
}

.mono-font {
    font-family: 'Overpass Mono', monospace !important;
}

.serif-font {
    font-family: 'Abhaya Libre', serif !important;
}
